[flake8]
max-line-length = 1200
exclude = 
    __pycache__,
    *.pyc,
    .git,
    .venv,
    venv,
    env,
    migrations,
    alembic
ignore = 
    E402,
    W503,
    E203,
    W504
per-file-ignores =
    __init__.py:F401
